@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-400.woff2") format("woff2"),
    url("../fonts/raleway-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-500.woff2") format("woff2"),
    url("../fonts/raleway-500.woff") format("woff");
  font-display: swap;
}

/* COMMON STYLES */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #353a5a;

  background-color: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  width: 230px;
  min-height: 56px;
  padding-top: 20px;

  font-weight: 500;
  color: #ffffff;
  text-align: center;

  border-radius: 0 20px;
  background-color: #fa9f42;

  text-decoration: none;
}

.btn:hover {
  background-color: #353a5a;
}

.btn:active {
  opacity: 0.6;
}

/* HOME PAGE */
/* Header */
.page-header {
  padding: 34px 0 58px 0;

  background-color: #10b582;
}

.navigation__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation__item {
  margin-left: 21px;
  margin-right: 20px;
}

.navigation__link {
  display: block;
  padding: 5px 0;

  font-weight: 500;
  color: #ffffff;

  text-decoration: none;
}

.navigation__link--current {
  position: relative;
  cursor: auto;
}

.navigation__link--current::after {
  position: absolute;
  content: "";
  top: 28px;
  left: 0;
  right: 0;

  border-bottom: 2px dashed #fa9f42;
}

.navigation__link:not(.navigation__link--current):hover  {
  color: #353a5a;
}

.navigation__link:not(.navigation__link--current):active  {
  opacity: 0.6;
}

/* MAIN */
/* Promo */
.social-top {
  position: absolute;
}

.social-top__list {
  display: flex;
  flex-direction: column;
  min-height: 126px;
}

.social-top__item {
  margin-bottom: 30px;
}

.social-top__img {
  fill: #fdfdfd;
}


.social-top__item:hover .social-top__img {
  fill: #fa9f42;
}

.social-top__item:active .social-top__img {
  fill: #fa9f42;
  opacity: 0.6;
}

.promo {
  min-height: 680px;
  padding-bottom: 118px;

  background-color: #10b582;
}

.promo__wrapper {
  width: 542px;
  min-height: 100%;
  padding-top: 92px;

  text-align: center;
}

.promo__logo {
  display: block;
  margin-bottom: 35px;
}

.promo__container {
  position: relative;

  display: flex;
  justify-content: space-between;
  min-height: 562px;
}

.promo__img {
  z-index: 1;
}

.promo__img-1 {
  align-self: flex-end;
}

.promo__img-2 {
  top: 231px;
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
  color: #ffffff;
}

.promo__description {
  width: 378px;
  margin: 0 auto;
  margin-bottom: 50px;

  line-height: 24px;
  color: #ffffff;
}

.promo__inner {
  position: absolute;
  bottom: 55px;
  right: -24px;
  padding-top: 40px;

  font-size: 14px;
  line-height: 14px;
  color: #ffffff;

  transform: rotate(-90deg);
}

.promo__text {
  position: relative;
}

.promo__btn {
  margin: 0 auto;
}

.promo__text::before {
  position: absolute;
  content: "";
  left: -28px;

  width: 8px;
  height: 16px;

  background: url("../img/index/promo-arrow-down.svg") no-repeat;
  background-size: 8px 16px;

  transform: rotate(90deg);
}

/* advantages */
.advantages {
  min-height: 300px;
  padding-top: 113px;
  margin-bottom: 47px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin: 0;

  text-align: center;
}

.advantages__value {
  display: block;
  margin: 0;
  margin-bottom: 21px;

  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  color: #10b582;
}

.advantages__attribute {
  margin: 0 20px;

  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
}

/* Teachers */
.teachers {
  min-height: 592px;
  padding-bottom: 50px;
}

.teachers__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.teachers__wrapper {
  width: 500px;
}

.teachers__title {
  margin-bottom: 26px;

  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
}

.teachers__description {
  width: 480px;
  margin: 0;
  margin-bottom: 15px;

  line-height: 24px;
}

.teachers__btn {
  margin: 0;
  margin-top: 50px;

  background-color: #10b582;
}

.teachers__list {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-gap: 16px 30px;
  width: 570px;
}

.teachers__photo {
  border: 1px solid transparent;
}

.teachers__photo--katia {
  border-radius: 0 0 0 80px;
}

.teachers__photo--marina {
  border-radius: 80px 0;
}

.teachers__photo--sava {
  border-radius: 0 0 80px 0;
}

.teachers__photo--pasha {
  border-radius: 80px 0 0 0;
}

.teachers__photo--sasha {
  border-radius: 80px 0;
}

.teachers__photo--leonid {
  border-radius: 0 80px 0 0;
}

.teachers__name {
  font-size: 14px;
  line-height: 18.2px;
  text-align: center;
}

/* Format-to-learn */
.format-learn {
  min-height: 602px;
  padding: 120px 0;

  background-color: #10b582;
}

.format-learn__container {
  display: flex;
}

.format-learn__img {
  margin-right: 100px;
}

.format-learn__wrapper {
  width: 500px;
}

.format-learn__title {
  margin-top: -4px;
  margin-bottom: 24px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
  color: #ffffff;
}

.format-learn__description {
  width: 478px;
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
  color: #ffffff;
}

/* Popular courses */
.popular-courses {
  min-height: 700px;
  padding-top: 114px;
  padding-bottom: 120px;
}

.popular-courses__title {
  margin-top: 0;
  margin-bottom: 66px;

  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  text-align: center;
}

.popular-courses__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;

  margin-bottom: 60px;
}

.popular-courses__item {
  width: 270px;
  min-height: 226px;

  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px rgba(101, 101, 101, 0.18);
}

.popular-courses__link {
  position: relative;

  display: block;
  height: 100%;

  color: #353a5a;
  text-decoration: none;
}

.popular-courses__link::before {
  position: absolute;
  content: "";
  top: 21px;
  left: 20px;

  width: 230px;
  height: 155px;
}

.popular-courses__link--motion-design::before {
  background: url("../img/index/motion-design.png") no-repeat;
}

.popular-courses__link--target-instagram::before {
  background: url("../img/index/target-instagram.png") no-repeat;
}

.popular-courses__link--effective-presentation::before {
  background: url("../img/index/presentations.png") no-repeat;
}

.popular-courses__link--smm-strategy::before {
  background: url("../img/index/smm-strategy.png") no-repeat;
}

.popular-courses__item:hover .popular-courses__link {
  text-decoration: underline;
}

.popular-courses__item:active .popular-courses__link {
  color: #10b582;
}

.popular-courses__name {
  margin: 0;
  padding-top: 190px;
  padding-left: 20px;

  font-weight: 500;
}

.popular-courses__btn {
  margin: 0 auto;

  background-color: #10b582;
}

/* Tariff */
.tariff {
  min-height: 578px;
  margin-bottom: 120px;
}

.tariff__container {
  width: 1440px;
  min-height: 578px;
  margin: 0 auto;
  padding-top: 115px;
  padding-bottom: 120px;

  background: url("../img/index/tariff.jpg") no-repeat;
  background-size: 1440px 578px;
}

.tariff__wrapper {
  width: 508px;
  margin-left: 735px;
}

.tariff__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
}

.tariff__description {
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
}

/* FOOTER */
.page-footer {
  min-height: 375px;

}

.page-footer__wrapper {
  min-height: 301px;
  padding-bottom: 50px;

  border-top: 1px solid rgba(53, 58, 90, 0.2);
  border-bottom: 1px solid rgba(53, 58, 90, 0.2);
}

.page-footer__container {
  display: flex;
  padding-top: 78px;
}

.page-footer__container--motion-design {
  padding-top: 67px;
}

.page-footer__column:nth-child(1) {
  width: 270px;
  margin-right: 100px;
}

.page-footer__column:nth-child(2) {
  width: 532px;
  margin-right: 68px;
}

.page-footer__column:nth-child(3) {
  width: 182px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 26px;
}

.page-footer__description {
  margin: 0;
  margin-bottom: 47px;

  font-size: 14px;
  line-height: 18.2px;
}

/* social footer */
.social {
  width: 116px;
  min-height: 22px;
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, 22px);
  gap: 10px 25px;
}

.social__link {
  display: block;
  width: 22px;
  height: 22px;

  opacity: 0.3;
}

.social__link--fb {
  background: url("../img/social-fb.svg") no-repeat;
  background-size: 22px 22px;
}

.social__link--vk {
  background: url("../img/social-vk.svg") no-repeat;
  background-size: 22px 22px;
}

.social__link--instagram {
  background: url("../img/social-instagram.svg") no-repeat;
  background-size: 22px 22px;
}

.social__item:hover .social__link {
  opacity: 1;
}

.social__item:active .social__link {
  opacity: 0.5;
}

.page-footer__list {
  display: flex;
}

.page-footer__item:nth-child(2) {
  margin-left: auto;
}

.page-footer__item:nth-child(3) {
  margin-left: 79px;
}

.page-footer__sublist {
  display: flex;
  flex-direction: column;
}

.page-footer__subitem {
  margin-bottom: 20px;
}

.page-footer__subitem:first-child {
  margin-bottom: 30px;
}

.page-footer__subitem:last-child {
  margin-bottom: 0;
}

.page-footer__link {
  position: relative;

  color: #353a5a;
  text-decoration: none;
}

.page-footer__link--font-medium {
  font-weight: 500;
}

.page-footer__link:hover::after {
  position: absolute;
  content: "";
  top: 25px;
  left: 0;
  right: 0;

  border: 1px dashed #fa9f42;
}

.page-footer__link:active {
  opacity: 0.6;
}

.page-footer__link:active::after {
  border: 1px dashed #10b582;
  opacity: 0.6;
}

.page-footer__text {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
}

.page-footer__email-text {
  margin: 0;
  margin-bottom: 15px;

  line-height: 20.8px;
}

.page-footer__email {
  color: #353a5a;

  text-decoration: underline;
}

.page-footer__email:hover {
  text-decoration: none;
}

.page-footer__email:active{
  color: #fa9f42;
}

.page-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;

  font-size: 14px;
  line-height: 14px;
}

.page-footer__copyright {
  margin: 0;
}

.page-footer__copyright + .page-footer__bottom-link {
  margin-left: auto;
  margin-right: 30px;
}

.page-footer__bottom-link {
  color: #353a5a;
  text-decoration: none;
}

.page-footer__bottom-link:hover {
  text-decoration: underline;
}

.page-footer__bottom-link:active {
  opacity: 0.6;
}

/* COURSE Motion-design */
/* Page-header */
.logo {
  padding-top: 6px;
}

.page-header--course-background {
  padding-top: 34px;
  padding-bottom: 51px;

  background-color: #ffffff;
}

.navigation__item--course {
  margin-right: 0;
}

.container--course {
  display: flex;
  justify-content: space-between;
}

.navigation__list--course {
  justify-content: center;
}

.navigation__link--course {
  color: #353a5a;
}

.navigation__link--course:not(.navigation__link--current):hover {
  color: #10b582;
}

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 56px;
}


.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 14px;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 35px;
}

.breadcrumbs__item:not(.breadcrumbs__item--current)::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 68px;

  width: 5px;
  height: 10px;

  background: url("../img/motion-design/breadcrumbs.svg") no-repeat;
  background-size: 5px 10px;
}

.breadcrumbs__list .breadcrumbs__item--course::after {
  left: 56px;
}

.breadcrumbs__link {
  color: #353a5a;

  text-decoration: none;
}

.breadcrumbs__link--current {
  opacity: 0.5;
}

.breadcrumbs__link:not(.breadcrumbs__link--current):hover {
  color: #353a5a;

  text-decoration: underline;
}

.breadcrumbs__link:not(.breadcrumbs__link--current):active {
  opacity: 0.6;
}

/* About-course */
.about-course {
  min-height: 1301px;
  padding-bottom: 120px;
}

.about-course__title {
  margin-top: 0;
  margin-bottom: 46px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
}

.about-course__img {
  margin-bottom: 37px;
}

.about-course__text {
  display: block;
  width: 870px;
  margin-bottom: 27px;

  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
}

.about-course__text + div {
  margin-bottom: 75px;
}

.about-course__description {
  width: 809px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 24px;
}

.untensive-description {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 20px 30px;
  margin: 0;
  text-align: center;
}

.untensive-description__value {
  display: block;
  margin-bottom: 21px;

  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  color: #10b582;
  text-align: center;
}

.untensive-description__attribute {
  margin: 0 20px;

  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
}

.untensive-description__attribute--zero-margin {
  margin: 0;
}

/* Relevance */
.relevance {
  min-height: 556px;
  padding-top: 115px;
  padding-bottom: 120px;

  background-color: #10b582;
}

.relevance__container {
  display: flex;
  justify-content: space-between;
}

.relevance__column:last-child {
  display: flex;
  flex-wrap: wrap;
}

.relevance__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
  color: #fdfdfd;
}

.relevance__desctiption {
  width: 478px;
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
  color: #fdfdfd;
}

.relevance__img {
  margin-top: 5px;
}

/* Skills */
.skills {
  min-height: 609px;
  padding-top: 115px;
  padding-bottom: 120px;
}

.skills__title {
  margin: 0;
  margin-bottom: 60px;

  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  text-align: center;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin-bottom: 60px;
}

.skills__item {
  width: 270px;
  min-height: 135px;
  padding: 25px 15px;

  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(101, 101, 101, 0.18);
}

.skills__subtitle {
  position: relative;

  margin: 0;
  margin-bottom: 14px;
  margin-left: 25px;
  padding-top: 5px;

  font-size: 16px;
  font-weight: 500;
}

.skills__subtitle::before {
  top: 4px;
  left: -25px;
}

.skills__subtitle--animation::before {
  position: absolute;
  content: "";

  width: 18px;
  height: 18px;

  background: url("../img/motion-design/skills-animation.svg") no-repeat;
  background-size: 18px 18px;
}

.skills__subtitle--frame::before {
  position: absolute;
  content: "";

  width: 16px;
  height: 16px;

  background: url("../img/motion-design/skills-frame.svg") no-repeat;
  background-size: 16px 16px;
}

.skills__subtitle--after-effects::before {
  position: absolute;
  content: "";

  width: 16px;
  height: 16px;

  background: url("../img/motion-design/skills-after-effects.svg") no-repeat;
  background-size: 16px 16px;
}

.skills__subtitle--sound::before {
  position: absolute;
  content: "";

  width: 16px;
  height: 16px;

  background: url("../img/motion-design/skills-sound.svg") no-repeat;
  background-size: 16px 16px;
}

.skills__detail {
  margin: 0;

  font-size: 14px;
  line-height: 18.2px;
}

.skills__btn {
  margin: 0 auto;
  background-color: #10b582;
}

/* Discount */
.discount {
  width: 1440px;
  min-height: 578px;

  margin: 0 auto;
  margin-bottom: 115px;
  padding-top: 115px;
  padding-bottom: 120px;

  background: url("../img/motion-design/discount.jpg") no-repeat;
  background-size: 1440px 578px;
}

.discount__wrapper {
  width: 444px;
  margin-left: 600px;
}

.discount__title {
  width: 332px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
}

.discount__description {
  width: 444px;
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
}

/* Questions */
.questions {
  min-height: 851px;

  margin-bottom: 120px;
}

.questions__container {
  width: 830px;
  min-height: 851px;
}

.questions__title {
  margin: 0;
  margin-left: 27px;
  margin-bottom: 64px;

  font-size: 58px;
  line-height: 69.6px;
  font-weight: 500;
}

.questions__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 830px;
  margin-bottom: 30px;
  padding: 30px;

  box-shadow: 0 0 20px 10px rgba(101, 101, 101, 0.18);
  border-radius: 10px;
}

.questions__item:last-child {
  margin-bottom: 0;
}

.questions__item--open {
  min-height: 89px;
  margin-bottom: 15px;
}

.questions__item--close {
  min-height: 167px;
}

.questions__inner {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
}

.questions__question {
  margin: 0;
  margin-bottom: 15px;

  font-size: 22px;
  line-height: 28.6px;
  font-weight: 500;
}

.questions__answer {

  margin: 0;

  line-height: 20.8px;
}

.questions__btn {
  width: 33px;
  height: 33px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.questions__btn--open {
  background: url("../img/motion-design/questions-open.svg") no-repeat;
  background-size: 33px 33px;
}

.questions__btn--close {
  background: url("../img/motion-design/questions-close.svg") no-repeat;
  background-size: 33px 33px;
}
